$colorSelect: #F16D7F;
$colorBGC: #222222;
$colorBreadCrumbs: #636363;
$colorItemBgc: #F7F7F7;
$bgcUniversal: white;
$colorBorder: #EAEAEA;
$colorPages: #C4C4C4;
// $widthSite: 100vw;
$boxShadow: 6px 4px 32px rgba(0, 0, 0, 0.21);
$widthSite: 1140px;
$main_content_top_heightDesc: 777px;
$main_content_top_heightTablet: 624px;